// Specific CSS for your home-page
html {
  box-sizing: border-box;
  background: #212529;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;

}

body{
  margin:0;

}

*, *:before, *:after{
box-sizing: inherit;
}
