// Specific CSS for your home-page

html {
  box-sizing: border-box;
  background-color: #212529;
  font-family: 'helvetica neue';
}

body{
  margin:0;
  background-color: black;
  background: rgb(33, 37, 41);


}

*, *:before, *:after{
box-sizing: inherit;
}

.container-biography {
  background-color: black;
  display: flex;
  flex-direction: row;
}
