  <div class="panels">
    <div class="panel panel1">
      <p>H</p>
      <p>M</p>
      <p>H</p>
    </div>
    <div class="panel panel2">
      <p>O</p>
      <p>A</p>
      <p>E</p>
    </div>
    <div class="panel panel3">
      <p>L</p>
      <p>T</p>
      <p>L  L</p>
    </div>
    <div class="panel panel4">
      <p>A</p>
      <p>I</p>
      <p>O</p>
    </div>
  </div>


<div class="container-biography">
  <div class="imagen"><%= image_tag "comida3.png", alt: "comidita", width: 200 %></div>
  <div class="me"> acsdfLorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nostrum porro consequuntur! Quis nisi iste, architecto, laboriosam voluptatum quo quasi saepe sapiente culpa dolorum maxime, in quidem corrupti numquam rem!</div>
</div>
